.vs
/dnyCasualDeskGame/x64
/x64/Debug
/x64/Release/dnyCasualDeskGame.exe
/x64/Release/dnyCasualDeskGame.exp
/x64/Release/dnyCasualDeskGame.lib
/x64/Release/dnyCasualDeskGame.pdb
/x64/Release/backgrounds
/x64/Release/screenshots